@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
:root{
   --blur-bg: #07070783;
   --primary-color: #7030dd;
   --secondary-color:#8050d3;
   --blur-purple: #8050d355;
   --full: #ffffff;
   --background: #f0f0f0;
   --text-primary: #000000;
   --text-secondary: #262626;
   --gray1: #e2e2e2;
   --gray2: #b4b4b4;
   --gray3: #636363;
}
.dark-theme{
   --blur-purple: #8050d324;
   --full: #000000;
   --background: #070707;
   --text-primary: #ffffff;
   --text-secondary: #b4b4b4;
   --gray1: #171717;
   --gray2: #262626;
   --gray3: #353535;
}
.light-theme{
   --blur-purple: #8050d355;
   --full: #ffffff;
   --background: #f0f0f0;
   --text-primary: #000000;
   --text-secondary: #262626;
   --gray1: #e2e2e2;
   --gray2: #b4b4b4;
   --gray3: #636363;
}

.container, .container-row{
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   padding: 20px;
}
.center{
   justify-content: center;
   align-items: center;
}
.container-row{
   flex-direction: row;
}

body{
   font-family: "Roboto", serif;
   background: var(--background);
   transition: all 0.5s;
}
section{
   padding: 64px 0;
   transition: all 0.5s;
}
.section-title{
   font-size: 32px;
   color: var(--text-primary);
   width: fit-content;
   margin-bottom: 32px;
   font-weight: bold;
}
.section-title::after{
   content: "";
   display: block;
   width: 100%;
   height: 3px;
   margin-top: 2px;
   background-color: var(--primary-color);
   transition: all 0.5s;
}
.btn{
   font-size: 18px;
   padding: 12px 24px;
   border-radius: 16px;
   border: none;
   color: #ffffff;
   background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
   cursor: pointer;
   transition: all 0.5s;
}
.btn:hover{
   background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.reveal-top, .reveal-bottom, .section-title{
   visibility: hidden;
}


.header-container{
   position: fixed;
   top: 16px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   max-width: 800px;
   padding: 6px 12px;
   background-color: var(--full);
   box-shadow: 0px 2px 12px var(--gray1);
   border-radius: 40px;
   z-index: 10;
}
.header-container nav ul {
   display: flex;
}
.header-container nav ul li{
   margin: 0 20px;
}
header a{
   font-size: 18px;
   color: var(--text-primary);
   position: relative;
   transition: all 0.5s;
}
header a::after{
   content: "";
   display: block;
   position: absolute;
   height: 3px;
   left: 50%;
   width: 0%;
   background-color: var(--primary-color);
   transition: all 0.5s;
}
header nav a:hover{
   color: var(--primary-color);
}
header nav a:hover::after{
   left: 0;
   width: 100%;
}
.logo img{
   width: 64px;
   height: 64px;
   cursor: pointer;
}
.toggle-btn{
   position: relative;
   padding: 4px;
   border-radius: 40px;
   border: 2px solid var(--primary-color);
   background-color: var(--background);
   cursor: pointer;
}
.toggle-btn i{
   font-size: 24px;
   margin: 0 2px;
}
.toggle-btn .uil-sun{
   color: #d3b118;
}
.toggle-btn .uil-moon{
   color: #1543c2;
}
.toggle-ball{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 5%;
   width: 28px;
   height: 28px;
   background-color: var(--text-primary);
   border-radius: 50%;
   z-index: 5;
   transition: all 0.5s;
}
.toggle-ball.moveToggleBall{
   left: 50%;
}
.toggle-ball.toggleBallAnimation{
   animation: toggleBall 0.5s linear;
}
@keyframes toggleBall {
   0%{
      transform: translateY(-50%) scale(1);
   }
   50%{
      transform: translateY(-50%) scale(0.5);
   }
   100%{
      transform: translateY(-50%) scale(1);
   }
}
.active-page{
   color: var(--primary-color);
}
.hamburger-menu{
   display: none;
   flex-direction: column;
   gap: 5px;
}
.hamburger-menu span{
   display: block;
   width: 24px;
   height: 3px;
   background-color: var(--text-primary);
   transition: all 0.5s;
}
.hamburger-menu.hamburger-menu-active span:nth-child(1){
   transform: translateY(4px) rotate(130deg);
}
.hamburger-menu.hamburger-menu-active span:nth-child(2){
   display: none;
}
.hamburger-menu.hamburger-menu-active span:nth-child(3){
   transform: translateY(-4px) rotate(-130deg);
}
.div-header{
   display: flex;
   align-items: center;
   gap: 20px;
}
.mobile-nav{
   position: fixed;
   top: 71px;
   right: 0;
   width: 0%;
   z-index: 11;
   background-color: var(--full);
   padding: 20px;
   padding-top: 40px;
   transition: all 0.5s;
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   border: 1px solid var(--gray2);
   border-top: none;
   text-align: center;
}
.show-mobile-nav{
   width: 50%;
   visibility: visible;
   opacity: 1;
   pointer-events: all;
}
.mobile-nav ul li{
   margin-bottom: 20px;
}



.projects-content{
   justify-content: center;
   align-items: center;
}
.projects-list{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 32px;
}
.project{
   width: 400px;
   border: 2px solid var(--gray2);
   background-color: var(--background);
   border-radius: 12px;
   overflow: hidden;
   cursor: pointer;
   transition: all 0.5s;
}
.project:hover{
   transform: perspective(800px) rotateX(4deg);
}
.project-image-div{
   position: relative;
   width: 100%;
}
.project:hover .project-image-div::after{
   opacity: 1;
}
.maximize-div{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--blur-bg);
   z-index: 6;
   transition: all 0.5s;
}
.project:hover .maximize-div{
   opacity: 1;
}
.maximize-div i{
   font-size: 40px;
   z-index: 10;
   color: #ffffff;
}
.project-image{
   width: 100%;
   transition: all 0.5s;
}
.project-infos{
   display: flex;
   flex-direction: column;
   padding: 16px;
}
.project-name-div{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.project-name{
   font-size: 20px;
   font-weight: 500;
   color: var(--text-primary);
}
.project-name-div span{
   color: var(--text-secondary);
}
.project-infos-bottom{
   margin-top: 0px;
   opacity: 0;
   max-height: 0;
   transition: all 0.5s;
}
.project-infos-bottom span{
   display: inline-block;
   color: var(--text-secondary);
   font-size: 14px;
   margin-right: 8px;
   padding: 6px 8px;
   background-color: var(--gray2);
   border-radius: 8px;
}
.project:hover .project-infos-bottom{
   opacity: 1;
   max-height: 100px;
   margin-top: 16px;
}
.projects-content .btn{
   margin-top: 44px;
}
.my-10{
   margin: 80px 0px;
}
.modal{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   justify-content: center;
   align-items: center;
   padding: 12px;
   background-color: var(--blur-bg);
   pointer-events: none;
   overflow: hidden;
   z-index: 20;
}
.showModal{
   display: flex;
   pointer-events: all;
}
.modal-container-certificate{
   position: relative;
   width: 73%;
}
.modal-container-certificate img{
   width: 100%;
}
.modal-container-certificate span{
   position: absolute;
   top: 0;
   right: 0;
   font-size: 36px;
   margin-right: -32px;
   color: #ffffff;
   cursor: pointer;
}
.modal-container-row{
   display: flex;
   justify-content: center;
   align-items: center;
}
footer{
   background-color: var(--gray1);
   color: var(--text-primary);
   padding: 40px 20px;
}
footer .container-row {
   justify-content: space-around;
}
.footer-bottom{
   justify-content: center;
   align-items: center;
   gap: 8px;
   margin-top: 12px;
}
.footer-bottom p{
   font-size: 14px;
   color: var(--text-secondary);
   margin-bottom: 4px;
}
.footer-bottom a{
   font-size: 14px;
   color: var(--text-primary);
   margin-bottom: 4px;
   text-decoration: underline;
}
.footer-logo-div{
   display: flex;
   align-items: center;
   gap: 8px;
}
.footer-logo-div img{
   width: 48px;
   height: 48px;
}
.footer-logo-div p{
   font-size: 20px;
   font-weight: bold;
}
.footer-text{
   font-size: 18px;
   margin: 12px 0;
}
.footer-title{
   font-size: 24px;
   margin-bottom: 24px;
}
.footer-div ul li{
   margin-bottom: 16px;
}
.footer-div ul li a{
   color: var(--text-primary);
}
.footer-div ul li a:hover{
   text-decoration: underline;
}
.footer-contact i{
   font-size: 20px;
   margin-right: 8px;
}
.footer-socialmedias{
   display: flex;
   gap: 12px;
   margin-top: 24px;
}
.footer-socialmedias a{
   color: var(--text-primary);
}
.footer-socialmedias i{
   font-size: 24px;
   padding: 8px;
   border-radius: 50%;
   background-color: var(--background);
   border: 2px solid var(--gray3);
   transition: all 0.3s;
   cursor: pointer;
}
.footer-socialmedias i:hover{
   color: var(--primary-color);
   border: 2px solid var(--primary-color);
}
.footer-div .btn{
   display: block;
   width: fit-content;
}


@media screen and (max-width: 1000px){
   .modal-container{
      width: 90%;
   }
}
@media screen and (max-width: 768px){
   .hamburger-menu{
      display: flex;
   }
   .header-container{
      top: 0px;
      width: 100%;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid var(--gray2);
      padding: 12px;
   }
   header nav{
      display: none;
   }
   .logo img{
      width: 44px;
      height: 44px;
   }
   .modal-container-certificate{
      width: 98%;
   }
   .modal-container-certificate span{
      font-size: 28px;
      margin-top: -40px;
      margin-right: 0;
   }
   .projects-list{
      gap: 24px;
   }
   .project{
      width: 340px;
   }
   .modal-container-row{
      flex-direction: column;
      width: 97%;
      max-width: 1040px;
      padding: 20px;
   }
   footer .container-row {
      flex-direction: column;
      gap: 24px;
      padding-left: 0px;
      padding-right: 0px;
   }
   .footer-title{
      font-size: 20px;
      margin-bottom: 16px;
   }
   .footer-logo-div img {
      width: 40px;
      height: 40px;
   }
   .footer-div ul li{
      margin-bottom: 12px;
   }
}