@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary-color: #7f33e4;
  --primary-color-l: #8f4fe4;
  --secondary-color: #3146ff;
  --bg-card: #10101b77;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary-color: var(--primary-color);
}

@layer components {
  .containerStyle {
    @apply container h-full mx-auto px-4 py-20;
  }
  .separatorLinePrimary{
    @apply absolute -bottom-0 left-1/2 -translate-x-1/2 bg-gradient-to-r from-transparent via-[var(--primary-color)] to-transparent w-full h-[2px];
  }
  .separatorLineSecondary{
    @apply absolute -bottom-0 left-1/2 -translate-x-1/2 bg-gradient-to-r from-transparent via-[var(--secondary-color)] to-transparent w-2/4 h-[8px] blur-sm;
  }
  .buttonStyle {
    @apply px-6 py-3 text-lg font-semibold rounded-md transition duration-200 cursor-crosshair bg-[linear-gradient(to_right,_#7f33e4,_#3150ff)] hover:brightness-110;
  }
  .bgGradient {
    @apply bg-linear-to-r from-gray-950/50 via-gray-900/50 to-gray-950/50 backdrop-blur-md hover:from-gray-950/80 hover:via-gray-900/80 hover:to-gray-950/80 border border-zinc-700 hover:border-zinc-600
  }
  .bgGradient-noOpacity {
    @apply bg-linear-to-r from-gray-950 via-gray-900 to-gray-950 backdrop-blur-md hover:from-gray-950 hover:via-gray-900 hover:to-gray-950 border border-zinc-700 hover:border-zinc-600
  }
  .boxShadowStyle {
    @apply shadow-[0px_0px_8px_#7f33e4] hover:shadow-[0px_0px_24px_#7f33e4] transition-shadow duration-300 ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) black;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}

.linkHeader::after {
  content: '';
  width: 0%;
  height: 3px;
  background: var(--primary-color);
  border-radius: 2rem;
  position: relative;
  bottom: -24px;
  left: 0;
  display: block;
  transition: width 200ms ease-in-out;
}

.linkHeader:hover::after {
  width: 100%;
}

.linkHeader.active::after {
  width: 100%;
}

.circle {
  animation: animateCircle infinite linear 20s;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px) {
  .linkHeader::after {
    bottom: -8px;
  }
}

.container-particles {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.scrollbarCSS::-webkit-scrollbar {
  height: 6px;
}

.scrollbarCSS::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbarCSS::-webkit-scrollbar-thumb {
  background-color: #7f33e4;
  border-radius: 9999px;
}

/* Firefox */
.scrollbarCSS {
  scrollbar-color: #7f33e4 transparent;
  scrollbar-width: thin;
}
