@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary-color: #7f33e4;
  --primary-color-l: #8f4fe4;
  --secondary-color: #3146ff;
  --bg-card: #10101b77;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) black;
  overflow: auto;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.orbitron{
  font-family: "Orbitron", sans-serif;
}

.boxShadowSM{
  box-shadow: 0px 0px 4px #7f33e4;
  transition: all 0.2s;
}
.boxShadowSM:hover{
  box-shadow: 0px 0px 8px #7f33e4;
}
.boxShadow {
  box-shadow: 0px 0px 8px #7f33e4;
  transition: box-shadow 0.3s ease-in-out;
}
.boxShadow:hover {
  box-shadow: 0px 0px 24px #7f33e4;
}
.linkHeader::after{
  content: '';
  width: 0%;
  height: 3px;
  background: var(--primary-color);
  border-radius: 2rem;
  position: relative;
  bottom: -24px;
  left: 0;
  display: block;
  transition: width 200ms ease-in-out;
}
.linkHeader:hover::after{
  width: 100%;
}
.linkHeader.active::after{
  width: 100%;
}

.circle{
  animation: animateCircle infinite linear 20s;
}
@keyframes animateCircle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@media screen and (max-width:768px){
  .linkHeader::after{
    bottom: -8px;
  }
}

.container-particles {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
#tsparticles {
  width: 100%;
  height: 100vh;
}
.scrollbarCSS::-webkit-scrollbar {
  height: 6px;
}

.scrollbarCSS::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbarCSS::-webkit-scrollbar-thumb {
  background-color: #7f33e4;
  border-radius: 9999px;
}

/* Firefox */
.scrollbarCSS {
  scrollbar-color: #7f33e4 transparent;
  scrollbar-width: thin;
}
